@tailwind base;
@tailwind components;
@tailwind utilities;

.custom-scrollbar::-webkit-scrollbar {
    width: 0;
    opacity: 0;
}

.custom-scrollbar::-webkit-scrollbar-track {
    background: #FFFFF2;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: #bcbcbc;
    border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background-color: #555;
}